@font-face {
    font-family: Aardvark Cafe;
    src: url(../fonts/aardvark_cafe.TTF);
}

@font-face {
    font-family: Adobe Garamond Bold;
    src: url(../fonts/Adobe_Garamond_Bold.otf);
}

@font-face {
    font-family: Air Stream;
    src: url(../fonts/Air_Stream.TTF) format('truetype');
}

@font-face {
    font-family: Akzidenz Grotesk BQ;
    src: url(../fonts/AkzidenzGroteskBQ-Cnd.otf);
}

@font-face {
    font-family: Aldo Semibold;
    src: url(../fonts/Aldo_PC.ttf);
}

@font-face {
    font-family: Andy Bold;
    src: url(../fonts/ANDY-BOLD.TTF);
}

@font-face {
    font-family: Arial Black;
    src: url(../fonts/ARIAL-BLACK.ttf);
}


@font-face {
    font-family: Arial Narrow;
    src: url(../fonts/arial-narrow.TTF);
}

@font-face {
    font-family: Arial Bold;
    src: url(../fonts/ARIAL-BOLD.ttf);
}

@font-face {
    font-family: Arial Rounded;
    src: url(../fonts/ARLRDBD.TTF);
}

@font-face {
    font-family: Arno Pro;
    src: url(../fonts/ArnoPro-Regular.otf);
}

@font-face {
    font-family: Artbrush;
    src: url(../fonts/Artbrush.ttf);
}


@font-face {
    font-family: Bauhaus;
    src: url(../fonts/Bauhaus.ttf);
}


@font-face {
    font-family: Beach Type Medium;
    src: url(../fonts/BEACHTYP.TTF);
}

@font-face {
    font-family: Beans;
    src: url(../fonts/beansfont.ttf);
}

@font-face {
    font-family: Beatsville Regular;
    src: url(../fonts/beatsvil.ttf);
}

@font-face {
    font-family: Bellbuttom;
    src: url(../fonts/Bellbott.TTF);
}

@font-face {
    font-family: Berlin Sans FB;
    src: url(../fonts/BRLNSR.TTF);
}

@font-face {
    font-family: Black Wolf;
    src: url(../fonts/BlackWolf.ttf);
}

@font-face {
    font-family: Blade Runner;
    src: url(../fonts/BLADRMF_.TTF);
}

@font-face {
    font-family: Boisterblack;
    src: url(../fonts/Boisterb.ttf);
}

@font-face {
    font-family: Bookman Old Style;
    src: url(../fonts/BOOKOS.TTF);
}

@font-face {
    font-family: Candara;
    src: url(../fonts/Candara.ttf);
}

@font-face {
    font-family: Cheri;
    src: url(../fonts/CHERI___.TTF);
}

@font-face {
    font-family: Chowfun;
    src: url(../fonts/CHOWFUN.TTF);
}

@font-face {
    font-family: Chunkfive;
    src: url(../fonts/Chunkfive.otf);
}

@font-face {
    font-family: College;
    src: url(../fonts/college.ttf);
}

@font-face {
    font-family: Colony Wars;
    src: url(../fonts/Colony-Wars.ttf);
}

@font-face {
    font-family: Comic Sans MS;
    src: url(../fonts/comic_0.ttf);
}

@font-face {
    font-family: Cooper Black Std;
    src: url(../fonts/CooperBlackStd.otf);
}

@font-face {
    font-family: Creepers;
    src: url(../fonts/Creepers.ttf);
}

@font-face {
    font-family: Decker;
    src: url(../fonts/Decker.ttf);
}


@font-face {
    font-family: Denmark;
    src: url(../fonts/denmark.ttf);
}


@font-face {
    font-family: Dirty Bakers Dozen;
    src: url(../fonts/dirty-bakers-dozen.ttf);
}


@font-face {
    font-family: East Market;
    src: url(../fonts/EASTMARK.TTF);
}

@font-face {
    font-family: Elephant;
    src: url(../fonts/ELEPHNT.TTF);
}

@font-face {
    font-family: Final Frontier Old Style;
    src: url(../fonts/FINALOLD.TTF);
}

@font-face {
    font-family: Franklin Gothic Medium;
    src: url(../fonts/framd.ttf);
}

@font-face {
    font-family: Freedom Fighter;
    src: url(../fonts/freedomfighter.ttf);
}

@font-face {
    font-family: Freestyle Script;
    src: url(../fonts/FREESCPT.TTF);
}

@font-face {
    font-family: Garamond Regular;
    src: url(../fonts/Garamond-Regular.ttf);
}

@font-face {
    font-family: Harrington;
    src: url(../fonts/HARNGTON.TTF);
}

@font-face {
    font-family: Hot Pizza;
    src: url(../fonts/hotpizza.ttf);
}

@font-face {
    font-family: Impact;
    src: url(../fonts/impact_0.ttf);
}


@font-face {
    font-family: King Richard;
    src: url(../fonts/kingrichard.ttf);
}

@font-face {
    font-family: Komika Boogie;
    src: url(../fonts/KOMIKABG.ttf);
}

@font-face {
    font-family: Lucida Console;
    src: url(../fonts/lucon_0.ttf);
}

@font-face {
    font-family: Metal Storm;
    src: url(../fonts/metalstorm.ttf);
}

@font-face {
    font-family: Metrolox;
    src: url(../fonts/METROLOX.ttf);
}

@font-face {
    font-family: Monotype Corsiva;
    src: url(../fonts/MTCORSVA.TTF);
}


@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: Nickelodeon;
    src: url(../fonts/NickelodeonNF.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}

@font-face {
    font-family: Palatinolinotype;
    src: url(../fonts/pala_0.ttf);
}

@font-face {
    font-family: Permanent Marker;
    src: url(../fonts/PermanentMarker.ttf);
}

@font-face {
    font-family: Scriptmtstd;
    src: url(../fonts/SCRIPTBL.TTF);
}


@font-face {
    font-family: Showcard Gothic;
    src: url(../fonts/SHOWG.TTF);
}

@font-face {
    font-family: Spooky Magic;
    src: url(../fonts/SpookyMagic.ttf);
}

@font-face {
    font-family: Swagger;
    src: url(../fonts/Swagger.ttf);
}

@font-face {
    font-family: Tahoma;
    src: url(../fonts/tahoma_0.ttf);
}

@font-face {
    font-family: Times Roman;
    src: url(../fonts/times_0.ttf);
}

@font-face {
    font-family: Transformers;
    src: url(../fonts/transfrm.ttf);
}

@font-face {
    font-family: Trebuchet MS;
    src: url(../fonts/trebuc_0.ttf);
}

@font-face {
    font-family: Trekker Two;
    src: url(../fonts/trekker-two-regular-1361513282.ttf);
}

@font-face {
    font-family: Tristan;
    src: url(../fonts/tristan.ttf);
}

@font-face {
    font-family: Tweedledee Bold;
    src: url(../fonts/Tweedledee-Bold.ttf);
}

@font-face {
    font-family: Victorian LET;
    src: url(../fonts/Victorian-LET.ttf);
}


@font-face {
    font-family: WantedM54;
    src: url(../fonts/WantedM54.ttf);
}

@font-face {
    font-family: Wicked Scary Movie;
    src: url(../fonts/WickedScaryMovie.ttf);
}

@font-face {
    font-family: aardvark-cafe;
    src: url(../fonts/aardvark_cafe.TTF);
}

@font-face {
    font-family: adobe-garamond-bold;
    src: url(../fonts/Adobe_Garamond_Bold.otf);
}

@font-face {
    font-family: air-stream;
    src: url(../fonts/Air_Stream.TTF) format('truetype');
}

@font-face {
    font-family: akzidenz-grotesk-bq;
    src: url(../fonts/AkzidenzGroteskBQ-Cnd.otf);
}

@font-face {
    font-family: aldo-semibold;
    src: url(../fonts/Aldo_PC.ttf);
}

@font-face {
    font-family: andy-bold;
    src: url(../fonts/ANDY-BOLD.TTF);
}

@font-face {
    font-family: arial-black;
    src: url(../fonts/ARIAL-BLACK.ttf);
}


@font-face {
    font-family: arial-narrow;
    src: url(../fonts/arial-narrow.TTF);
}

@font-face {
    font-family: arial-bold;
    src: url(../fonts/ARIAL-BOLD.ttf);
}

@font-face {
    font-family: arial-rounded;
    src: url(../fonts/ARLRDBD.TTF);
}

@font-face {
    font-family: arno-pro;
    src: url(../fonts/ArnoPro-Regular.otf);
}

@font-face {
    font-family: artbrush;
    src: url(../fonts/Artbrush.ttf);
}


@font-face {
    font-family: bauhaus;
    src: url(../fonts/Bauhaus.ttf);
}


@font-face {
    font-family: beachtype;
    src: url(../fonts/BEACHTYP.TTF);
}

@font-face {
    font-family: beans;
    src: url(../fonts/beansfont.ttf);
}

@font-face {
    font-family: beatsville;
    src: url(../fonts/beatsvil.ttf);
}

@font-face {
    font-family: bellbuttom;
    src: url(../fonts/Bellbott.TTF);
}

@font-face {
    font-family: berlin-sans-fb;
    src: url(../fonts/BRLNSR.TTF);
}

@font-face {
    font-family: black-wolf;
    src: url(../fonts/BlackWolf.ttf);
}

@font-face {
    font-family: bladerunnermovie;
    src: url(../fonts/BLADRMF_.TTF);
}

@font-face {
    font-family: boisterblack;
    src: url(../fonts/Boisterb.ttf);
}

@font-face {
    font-family: bookman-old-style;
    src: url(../fonts/BOOKOS.TTF);
}

@font-face {
    font-family: candara;
    src: url(../fonts/Candara.ttf);
}

@font-face {
    font-family: cheri;
    src: url(../fonts/CHERI___.TTF);
}

@font-face {
    font-family: chowfun;
    src: url(../fonts/CHOWFUN.TTF);
}

@font-face {
    font-family: chunkfive;
    src: url(../fonts/Chunkfive.otf);
}

@font-face {
    font-family: college;
    src: url(../fonts/college.ttf);
}

@font-face {
    font-family: colony-wars;
    src: url(../fonts/Colony-Wars.ttf);
}

@font-face {
    font-family: comic-sans-ms
    src: url(../fonts/comic_0.ttf);
}

@font-face {
    font-family: cooper-black-std;
    src: url(../fonts/CooperBlackStd.otf);
}

@font-face {
    font-family: creepers;
    src: url(../fonts/Creepers.ttf);
}

@font-face {
    font-family: decker;
    src: url(../fonts/Decker.ttf);
}


@font-face {
    font-family: denmark;
    src: url(../fonts/denmark.ttf);
}


@font-face {
    font-family: dirty-bakers-dozen;
    src: url(../fonts/dirty-bakers-dozen.ttf);
}


@font-face {
    font-family: east-market;
    src: url(../fonts/EASTMARK.TTF);
}

@font-face {
    font-family: elephant;
    src: url(../fonts/ELEPHNT.TTF);
}

@font-face {
    font-family: final-frontier-old-style;
    src: url(../fonts/FINALOLD.TTF);
}

@font-face {
    font-family: franklin-gothic-medium;
    src: url(../fonts/framd.ttf);
}

@font-face {
    font-family: freedom-fighter;
    src: url(../fonts/freedomfighter.ttf);
}

@font-face {
    font-family: Freestyle-script;
    src: url(../fonts/FREESCPT.TTF);
}

@font-face {
    font-family: garamond-regular;
    src: url(../fonts/Garamond-Regular.ttf);
}

@font-face {
    font-family: harrington;
    src: url(../fonts/HARNGTON.TTF);
}

@font-face {
    font-family: hotpizza;
    src: url(../fonts/hotpizza.ttf);
}

@font-face {
    font-family: impact;
    src: url(../fonts/impact_0.ttf);
}


@font-face {
    font-family: kingrichard;
    src: url(../fonts/kingrichard.ttf);
}

@font-face {
    font-family: komika-boogie;
    src: url(../fonts/KOMIKABG.ttf);
}

@font-face {
    font-family: lucida-console;
    src: url(../fonts/lucon_0.ttf);
}

@font-face {
    font-family: metal-storm;
    src: url(../fonts/metalstorm.ttf);
}

@font-face {
    font-family: metrolox;
    src: url(../fonts/METROLOX.ttf);
}

@font-face {
    font-family: monotype-corsiva;
    src: url(../fonts/MTCORSVA.TTF);
}


@font-face {
    font-family: myriad-pro;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: nickelodeon;
    src: url(../fonts/NickelodeonNF.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico.ttf);
}

@font-face {
    font-family: Palatinolinotype;
    src: url(../fonts/pala_0.ttf);
}

@font-face {
    font-family: permanent-marker;
    src: url(../fonts/PermanentMarker.ttf);
}

@font-face {
    font-family: scriptmtstd;
    src: url(../fonts/SCRIPTBL.TTF);
}


@font-face {
    font-family: showcard-gothic;
    src: url(../fonts/SHOWG.TTF);
}

@font-face {
    font-family: spooky-magic;
    src: url(../fonts/SpookyMagic.ttf);
}

@font-face {
    font-family: swagger;
    src: url(../fonts/Swagger.ttf);
}

@font-face {
    font-family: tahoma;
    src: url(../fonts/tahoma_0.ttf);
}

@font-face {
    font-family: times-roman;
    src: url(../fonts/times_0.ttf);
}

@font-face {
    font-family: transformers;
    src: url(../fonts/transfrm.ttf);
}

@font-face {
    font-family: trebuchet-ms;
    src: url(../fonts/trebuc_0.ttf);
}

@font-face {
    font-family: trekker-two;
    src: url(../fonts/trekker-two-regular-1361513282.ttf);
}

@font-face {
    font-family: tristan;
    src: url(../fonts/tristan.ttf);
}

@font-face {
    font-family: tweedledee;
    src: url(../fonts/Tweedledee-Bold.ttf);
}

@font-face {
    font-family: victorian-let;
    src: url(../fonts/Victorian-LET.ttf);
}


@font-face {
    font-family: wantedms4;
    src: url(../fonts/WantedM54.ttf);
}

@font-face {
    font-family: wicked-scary-movie;
    src: url(../fonts/WickedScaryMovie.ttf);
}
