/* addon utilities - not present from current uikit's version */
.uk-text-uppercase {
    text-transform: uppercase;
}
.uk-text-lowercase {
    text-transform: lowercase;
}
.uk-text-pointer {
    cursor: pointer;
}

.daily-deal-small .daily-deal-expiry {
    position: relative;
}

@media (max-width: 960px) {
    .daily-deal-small .daily-deal-expiry {
        font-size: 3em;
        top: 40%;
    }
}

@media (max-width: 768px) {
    .daily-deal-small .daily-deal-expiry {
        font-size: 2.5em;
        top: 35%;
    }
}

@media (max-width: 479px) {
    .daily-deal-small .daily-deal-expiry {
        font-size: 1.75em;
        top: 35%;
    }
}

.daily-deal-large .daily-deal-expiry {
    padding: 1.25em 0 0 .35em !important;
}

@media (min-width: 960px) {
    .daily-deal-large .daily-deal-expiry {
        font-size: 2em;
    }
}
@media (min-width: 1220px) {
    .daily-deal-large .daily-deal-expiry {
        font-size: 3.25em !important;
    }
}

/* table border */
.uk-table.uk-table-bordered th,
.uk-table.uk-table-bordered td
{
    border-color: #ddd;
}

/* remove arrows */
input[type="number"] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
}

/* lazysizes */
.lazyload,
.lazyloading
{
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

/* app */
.content_width {
    width: 80%;
    max-width: 1200px;
}
.logo_img {
    max-width: 320px !important;
}
.uk-button-group .uk-icon-justify {
    margin-right: .15em;
}
#colors-quantity-container > .uk-grid.uk-scrollable-box {
    height: 100%;
    max-height: 475px;
}
#colors-quantity-container table caption {
    text-align: center;
    font-style: normal;
}
#colors-quantity-container table thead th {
    font-weight: normal;
}
.uk-thumbnail img.customize-clipart-image,
.uk-thumbnail.customize-clipart-image,
.uk-thumbnail img.customize-artwork-image,
.uk-thumbnail.customize-artwork-image
{
    max-height: 100px;
    max-width: 100px;
}
#wb-preview-container .uk-progress-bar {
    width: 100%;
}
#wb-preview-container .preview-bgimage-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pricing-table table caption,
#pricing-table table th,
#pricing-table table td:first-child
{
    font-weight: normal;
    font-style: normal;
    font-size: 1.15em;
}
#pricing-table table th,
#pricing-table table td
{
    text-align: center;
    cursor: default;
}
#pricing-table .uk-table.uk-table-bordered th {
    border-right-style: solid;
    border-right-width: 1px;
    width: 6.6%;
}
#pricing-table .uk-table.uk-table-bordered td {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-style: none;
}
#pricing-table .uk-table.uk-table-bordered th:last-child,
#pricing-table .uk-table.uk-table-bordered td:last-child
{
    border-right-style: none;
}
i.price {
    font-style: normal;
}





/***
ORDER CSS

**/

.offer-bar {
    background: #325277;
}


.col-xs-3.col-sm-2.offerpv {
    color: #fff;
    background: #0a1a38;
    text-align: center;
    position: relative;
    font-size: 34px;
}

.offer-details {
    color: #fff;
    font-size: 24px;
    padding-top: 13px;
    text-align: center;
    text-transform: uppercase;
}

.col-xs-3.col-sm-2.offerpv {
    color: #fff;
    background: #0a1a38;
    text-align: center;
    position: relative;
    font-size: 39px;
}

.col-xs-3.col-sm-2.offerpv::after {
    content: '';
    position: absolute;
    border-left: 25px solid #0a1a38;
    border-top: 27px solid transparent;
    border-bottom: 28px solid transparent;
    top: 0;
    right: -25px;
}

.row{
    margin:0;
}

.wrist-style {
    text-align:center;
    margin-bottom: 10px;
}

.wrist-style .col-md-4 {
    /*width: 25%;*/
    padding: 6px 9px;
    margin-top: 10px;
    /*min-height: 302px;*/
    display: block;
}

 input[type="radio"]{
    transform: scale(2);
    cursor:pointer;
}


#main-page-content h2 {
    margin: 0;
    font-size: 16px;
    color: #079ca5!important;
	margin-top:6px;

}

.wrist-style .box-thumb {
    background-color: #fff;
    border: 1px solid #CBCBCB;
    text-align: center;
    padding: 58px 9px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.prod{
    border: 1px solid rgba(255,255,255,.0);
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.prod:hover, .prod.active{
    background-color: #FFFFFF;
    border: 1px solid #ADACAC;
}

#banner-pricing{
    margin:0;
    padding:0;
}

.uk-table td, .uk-table th {
    padding: 8px 11px!important;
    text-align: center;
}

.wrist-size .col-md-4 {
    /*width: 16.6%;*/
    padding: 6px;
    text-align: center;
    margin-top: 10px;
    min-height: 197px;
}

.wrist-size .box-thumb {
    background-color: #fff;
    border: 1px solid #CBCBCB;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.wrist-size {
    margin-bottom: 10px;
}

*+.uk-table{
    margin:0!important;
}

.uk-table{
    margin-bottom:10px!important;
}


.uk-table caption {
    color: #079ca5!important;
}

#banner-pricing .uk-table.uk-table-bordered th{
    border-right-style: solid;
    border-right-width: 1px;
    width: 6.6%;
    text-align: center;
}

#banner-pricing .uk-table.uk-table-bordered th:last-child{
    border-right: none;
}

#banner-pricing .uk-table.uk-table-bordered td{
    border-top-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-style: none;
}

#banner-pricing .uk-table.uk-table-bordered td:last-child{
    border-right: none;
}

.uk-table.uk-table-bordered th, .uk-table.uk-table-bordered td{
    border-color: #A1A1A1;
}

.nav.nav-pills {
    margin: 11px auto;
    width: 28%;
}

.nav-pills li{
    border:1px solid #A1A1A1;
    border-radius:4px;
    background-color:#fff;
}

.nav-pills .active{
    border:none;
}

.nav-pills li > a{
    color:#079ca5;
    border:none;
}

.nav-pills > li.active > a{
    background-color:#325277;
    border:1px solid #fff;
}

.box-thumb img{
    width:100%;
}

.main-content{
    overflow:y;
    height:500px;
    padding:10px;
    background-color:#fff;
}

.homecontent{
    margin-top:10px;
}

.box-color {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #A1A1A1;
    border-radius: 2px;
    min-height: 445px;
    text-align: center;
}

.box-color.with-font  {
    min-height: 535px;
}

.box-color-container {
    padding: 2px;
}

.box-color input {
    border: 1px solid #079ca5;
    border-radius: 2px;
    color: #212121;
    text-align: center;
    width: 100%;
}

.box-color label {
    color: #424242;
    font-weight: normal;
}

.box-thumb img {
    max-height: 100%;
    max-width: 100%;
}

.box-color img {
    max-height: 189px;
    max-width: 100%;
}

.box-color .col-sm-4 {
    margin-bottom: 26px;
}

input{color:#424242;}
input::placeholder,.box-color input::placeholder{color:#dddddd;}
input::-moz-placeholder,.box-color input::-moz-placeholder{color:#dddddd;opacity:1;}
input::-ms-input-placeholder,.box-color input::-ms-input-placeholder{color:#dddddd;}
input::-webkit-input-placeholder,.box-color input::-webkit-input-placeholder{color:#dddddd;}

.tab-content h3 {
    color: #079ca5;
    margin-left: 10px;
}

div#main-color-content {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.view-more {
    background: #FAFAFA;
    border: 1px solid;
    cursor: pointer;
    color: #079CA5;
    font-size: 12px;
    margin-bottom: 18px;
    padding: 8px 46px;
    text-align: center;
    top: 12px;
}

.view-more:hover {
    color: #1ABC9C;
}

.fntin {
    border: 1px solid none;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
}

.color-text .col-sm-1 {
    padding: 0px;
}

.show-content {
    margin-top: 5px;
    padding: 0px;
}

.wrist-color-quantity {
    margin-bottom: 40px;
}

#wrap { margin: auto; width: 800px; }

.preview-panel {
    border: 1px solid #c1c1c1;
    padding: 10px 10px;
    text-align: center;
    color: #444444;
    font-weight: bold;
    font-size:18px;
}

/* .preview-panel div { line-height: 50px; } */

div#preview-textcolor {
    float: right;
    height: 40px;
    margin-right: 120px;
    margin-top: 2px;
    width: 49px;
}

div#preview-textfont{
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin-right: 20px;
    width: 150px;
}

.preview-panel #front-view, .preview-panel #back-view {
    width: 50%;
    margin: auto;
    float: left;
    text-align: center;
}

.preview-panel #inside-view {
    width: 100%;
}

.faded, .preview-panel .band-reg .faded, .preview-panel .band-fig .faded {
    filter: drop-shadow(2px 2px 6px #909090 );
    -webkit-filter: drop-shadow(2px 2px 6px #909090 );
    opacity: 0.5;
}

#continue-view {
    position: relative;
}

.main-content-preview {
    line-height: 26px;
    min-height: 310px;
    padding: 10px;
}

.band-text {
    padding: 8px;
}

#band-text{
    color:#8f8f8f;
}

.main-content-preview h3 {
    color:#079ca5;
}

.ffradio {
    padding: 4px;
}

.product-add-ons{
    margin-top:30px;
}

.col-md-4.add-ons{
    margin-top:30px;
}

.col-md-12.add-ons{
    margin-top:30px;
}

.col-md-12.add-ons .box-thumb{
    color: #079cb1;
    border: 1px solid #CBCBCB;
}

.col-md-12.add-ons h1 {
    font-size: 45px;
    margin: 10px 0 25px 0;
    color: #ffffff;
}

.col-md-12.add-ons span {
    margin: 0 0 0 10px;
    font-size: 16px;
    color: #079ca5!important;
}

.add-ons-radio {
    text-align: center;
    padding: 12px 0;
}

.total-area {
    background: #008da9;
    margin: 20px 0 20px 0;
    padding: 16px;
}

.total-area h1 {
    color:#fff;
    margin-bottom: 10px;
    margin-top: 5px;
}

.total-area .prod-ship {
    min-height: 200px;
}

.button-cart {
    text-align: right;
}

select#size {
    padding: 6px;
    color: #808080;
}

select#fs {
    padding: 6px;
    width: 244px;
    color: #434242;
    font-size: 16px;
}

div#float {
    font-size: 19px;
}

.add-ons .box-thumb{
    background-color: #fff;
    border: 1px solid #CBCBCB;
    text-align: center;
    padding: 30px 28px;
    border-radius: 4px;
}

.add-ons .box-thumb img{
    width:100%!important;
}

.total-area h3, .total-area h5{
    color:#fff;
}

select#ProductionTime {
    padding: 6px;
    border-radius: 2px;
}

select#ShippingTime {
    padding: 6px;
    border-radius: 2px;
}

div#order-summary {
    color: #FFF;
}

#order-summary span{
     color: #FFF;
}

.summary-table .header {
    border-bottom: 1px #FFFFFF solid;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-bottom: 3px;
}

.summary-table .summary-table-group {
    padding-bottom: 5px;
    float: left;
    width: 100%;
}

.summary-table .fa {
    width: 20px;
}

.summary-table .fa.fa-angle-right {
    width: 10px;
}

.summary-total {
    border-top: 1px solid #FFFFFF;
    margin-top: 15px;
}

.summary-total h1 {
    margin-top: 20px;
}

.no-padding {
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.padding-left-25 {
    padding-left: 25px;
}

.message-selection {
    text-align: center;
    margin-bottom: 10px;
}

.message-selection input{
    margin-right:10px;
}
.clip-sec{
        margin-top:20px;
}

/*.f-input span, .c-input span, .i-input span {
    color:#212f3d;
}*/

.fclip-1, .fclip-2, .fclip-3, .bclip-1, .bclip-2, .cclip-1, .cclip-2, #font-button, .btn-add-custom-color, #free-keychain-qty{
    background-color: #17a589;
    color: #fff;
    border: 1px solid  #117864 ;
    padding: 10px;
    border-radius: 3px;
}


.fclip-1:hover,  .fclip-2:hover, .fclip-3:hover, .bclip-1:hover, .bclip-2:hover, .cclip-1:hover, .cclip-1:hover {
    background-color: #1abc9c ;
}

.done-button-fwb{
    background-color: #FFBA23;
    color: #ffffff;
    border: 1px solid #efa504;
    padding: 10px 50px;
    border-radius: 3px;
}

.done-button-fwb-b{
    background-color: #FFBA23;
    color: #ffffff;
    border: 1px solid #efa504;
    padding: 10px 50px;
    border-radius: 3px;
}

.done-button-fwb:hover{
	background-color: #FFC107;
}

.btn-add-custom-color{
    margin-left: 10px;
	margin-bottom: 20px;
}

.btn-close-custom-color {
    border: none;
    border-radius: 25px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.btn-close-custom-color:hover {
    background-color: #c9302c;
}

.btn-close-custom-color:focus {
    background-color: #c9302c;
}

.pick-color-list {
    margin: 0;
    padding: 0;
    height: 350px;
    overflow-x: hidden;
}

.pick-color-list li {
    list-style: none;
    float: left;
    padding: 4px 4px;
    width: 16%;
    margin-left: 3px;
}

.font-color-list {
    margin: 0;
    padding: 0;
    height: 350px;
    overflow-x: hidden;
}

.font-color-list li {
    list-style: none;
    float: left;
    padding: 4px 4px;
    width: 16%;
    margin-left: 3px;
}

.font-color-list li img{
    width:100%;
}

.clip-color-list li {
    list-style: none;
    float: left;
    padding: 4px;
    width: 16%;
    text-align: center;
    height: 104px;
    line-height: 12px;
}

.clip-color-list{
    margin:0;
    padding:0;
    height: 350px;
    overflow-x: hidden;
}

.box-opt-color{
    margin-bottom:10px;
}


.box-opt-color h5{
    color:#028072;
}

.box-opt-color ul {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #BFBFBF;
}

.box-opt-color ul li{
   list-style:none;
   float:left;
   width:20%;
   margin:0;
   padding-right:10px;
   padding-bottom: 10px;
}

.clip-color-list li img{
    width:100%;
}


b {
    font-size: 10px;
}

b:hover{
    cursor:default;
}

.pick-color-list li:hover{
    cursor:pointer;
}

.clip-color-list li:hover{
    /*border:1px solid #17A589;*/
    color:#17A589;
}

/*.font-style-list li{
    list-style:none;
    float:left;
    padding:4px;
    width: 25%;
    height: 60px;
}

.font-style-list{
    margin:0;
    padding:0;
    height: 350px;
    overflow-x: hidden;
}

.font-style-list li img{
    width:100%;
}


.font-style-list li:hover{
    border:1px solid #17A589;
}*/


#add-design {
    width: 344px;
    padding: 8px;
}


.modal-header{
    background-color:#325277;
}

.modal-header h4{
    color:#fff;
}

.preview-pill {
    background-position: 0px -15px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    border-radius: 50px!important;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    opacity: 0.5;
    width: 30px;
}

.preview-pill.active {
    opacity: 1;
}

.preview-panel #front-view, .preview-panel #back-view {
    background-repeat: no-repeat!important;
    background-size: 200% 100%!important;
	position: relative;
}

.preview-panel #back-view {
    background-position: 100%!important;
}

.preview-panel #inside-view {
    background-size: 100% 100%!important;
}

.preview-panel #continue-view {
    background-size: 100% 100%!important;
}

.col-sm-1 {
    width: 30%;
    padding: 0 14px;
}

.color-text {
    position: relative;
    margin-bottom: 17px;
}


#font-color {
    width: 344px;
    padding: 8px;
	display:none;
}

input#font-color {
    width: 130px;
    padding: 4px;
}

@media (min-width: 768px)
.drpColor {
    font-size: 12px;
    width: 59px;
}
@media (min-width: 480px)
.drpColor {
    font-size: 10px;
    width: 40px;
}
@media (min-width: 300px)
.drpColor {
    font-size: 10px;
    width: 40px;
}
.drpColor {
    width: 64px;
}

.adjustMrg {
    padding-top: 0px;
    margin-top: -5px;
}

.done-b, .dynamic-done-b{
    background-color: #17a589;
    color: #fff;
    border: 1px solid #117864;
    padding: 6px 31px;
    border-radius: 3px;
}


.done-s, .dynamic-done-s{
    background-color: #17a589;
    color: #fff;
    border: 1px solid #117864;
    padding: 6px 31px;
    border-radius: 3px;
}

.done-sw, .dynamic-done-sw{
    background-color: #17a589;
    color: #fff;
    border: 1px solid #117864;
    padding: 6px 31px;
    border-radius: 3px;
}

.done-d, .dynamic-done-d{
    background-color: #17a589;
    color: #fff;
    border: 1px solid #117864;
    padding: 6px 31px;
    border-radius: 3px;
}

.done-free{
    background-color: #17a589;
    color: #fff;
    border: 1px solid #117864;
    padding: 6px 31px;
    border-radius: 3px;
}

.dynamic-pick-color-list {
    margin: 0;
    padding: 0;
    height: 350px;
    overflow-x: hidden;
}

.dynamic-pick-color-list li {
    list-style: none;
    float: left;
    padding: 4px 4px;
    width: 16%;
    margin-left: 3px;
}

.dynamic-pick-color-list li:hover{
    cursor:pointer;
}

span.start-fc {
    position: relative;
}

span.end-fc {
    position: relative;
}

span.back-mc {
    position: relative;
}

span.backend-mc {
    position: relative;
}

span.start-cc {
    position: relative;
}

span.end-cc {
    position: relative;
}

.note-m {
    font-size: 12px;
    color: #686868 !important;
    font-weight: normal !important;
}


.inside-m {
    color: #212f3d;
    font-weight: bold;
}

.click-pre {
    color: #BC0000;
    font-weight: bold;
    text-align: left;
}

.zoom {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 999;
}

.icon-text {
    display: none;
    color: #D6D6D6;
    background-color: #101010;
    padding: 10px;
    font-size: 11px;
    z-index: 10;
}

.icon-img {
    top: 6px;
    position: absolute;
    right: 24px;
    cursor:pointer;
}

.icon-img:hover .icon-text {
    display: block;
	position: absolute;

}

input[type=file] {
    border: 1px solid #CDCDCD;
    color: #8E0000;
    display: initial;
    overflow-x: hidden;
    padding: 4px;
    width: 207px;
}

.fig_move{
    top: 36px;
}

button.fclip-3 {
    margin-left: -14px;
}

span.fig-fc {
    height: 104px;
    line-height: 100px;
    position: absolute;
    z-index: 1;
}

.message_wristband_100 {
    color: #FFFFFF;
    margin-top: 30px;
    text-align:center;
}

.free-convert, .free-convert-bands, .free-convert-chains {
    border-top: 1px solid #CBCBCB;
    color: #FFFFFF;
    padding: 25px 20px 35px 20px;
}

.free-convert-bands h3, .free-convert-chains h3{
    color: #008DA9;
    margin-top: 0px;
}

.free-convert-bands label, .free-convert-chains label{
    text-decoration: underline;
}

.span-text-con1 {
    color: #8F8FA5;
    font-size: 14px;
    margin: 0 auto 20px auto;
    padding: 0px;
}

.area-conversion-list {
    background-color: rgb(7, 153, 182);
    margin-bottom: 20px;
    padding: 0;
}

.fwb-list {
    border-bottom: 1px solid #008da9;
    font-size: 15px;
    list-style: none;
    padding: 10px 0 10px 0;
    text-align: center;
}

.fwb-text .fwb-text {
    fwb-text
}

.fwb-text{
    line-height: 35px;
    min-height: 35px;
    padding: 0;
}

.fwb-text .fwb-text-content{
    height: 100%;
    line-height: 20px;
}

.fwb-text .fwb-text-header{
    text-decoration: underline;
}

.fwb-text h4{
    font-weight: bolder;
}

input.freewb, input.freekc, input.addonkc  {
    border: none;
    border-radius: 5px;
    color: #333333;
    height: 35px;
    text-align: center;
}

.submit {
    text-align: center;
}

table.fwb-title th {
    padding: 6px 9px;
}

table.fwb-title {
    margin-left: 48px;
}

.btn-wristband {
    color: #fff;
    background-color: #17a589;
    border: 1px solid #117864;
    border-radius: 3px;
    padding: 10px;
}

.list-header {
    background-color: #05859e;
    color: #ffffff;
    border-bottom: 1px solid #4a719e;
}

#convert-keychain h3 {
    color: #17a589;
}

#convert-keychain span {
    color: #8f8fa5;
}

.convert-keychain-area-all {
    background-color: rgb(7,153,182);
    color: #fff;
    padding: 10px 0;
}

.convert-keychain-area-some {
    background-color: rgb(7,153,182);
    color: #ffffff;
    margin: 0 0 20px 0;
    min-height: 60px;
}

.kc-some-qty {
    color: #454545;
    text-align: center;
}

#modal-message-content {
    color: #5A5A5A!important;
    font-size: 25px;
    padding: 10px 0;
}

#modal-message-title {
    text-transform: uppercase;
}

span.fonttext-color {
    color: #A1A1A1;
	font-size: 9px;
}

.summary-item .free-wb-label, .summary-item .free-kc-label {
    font-size: 13px;
    padding-left: 25px;
}

.control-label {
    height: 34px;
    line-height: 34px;
    margin-bottom: 0px;
}

.title-color {
    color: #079ca5;
}

.band {
	background-image:url('/gd/img/belt/base.png');
	height: 54px;
    transition: all ease .2s;
}

.band .preview-text {
    color: #000000;
    font-size: 14px;
    height: 54px;
    line-height: 54px;
    transition: all ease .2s;
}

.preview-clipart {
    left: 0px;
}

.preview-start {
    float: left;
    left: 0px;
    padding-right: 30px;
    position: absolute!important;
    right: inherit;
    text-align: right;
}

.preview-end {
    float: right;
    left: inherit;
    padding-left: 30px;
    position: absolute!important;
    right: 0px;
    text-align: left;
}

.band .preview-clipart {
    height: 54px;
    line-height: 50px;
}

.band-fig {
	background-image:url('/gd/img/belt/fig-base.png');
	height: 104px;
    transition: all ease .2s;
}

.band-fig .preview-text {
    color: #000000;
    font-size: 14px;
    height: 104px;
    line-height: 104px;
    transition: all ease .2s;
}

.band-fig .preview-clipart {
    height: 104px;
    line-height: 100px;
}

.box-color-qty {
    padding: 0px 10px;
}

.row-header-step {
    min-height: 55px;
    margin-bottom: 20px!important;
}

.box-img-container {
    padding: 10px 0px 0px 0px;
    height: 199px;
}

.box-color-title {
    display: table;
    min-height: 45px;
}

.box-color-title button {
    display: table-cell;
    vertical-align: middle;
}

.box-color-title label {
    font-size: 16px;
    font-weight: normal;
    color: #079ca5;
    display: table-cell;
    margin: 0px;
    vertical-align: middle;
}

body {
	background: url('img/bg.jpg');
}

.table tr th, .table tr td {
    text-align: center;
}

.table > thead > tr > th {
    border-bottom: 1px solid #079CA5;
}

.font-color-list li {
    transition: all ease .2s;
}

.font-color-list li.active, .font-color-list li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.font-style-list{
    height: 350px;
    margin:0;
    overflow-x: hidden;
    padding:0;
}

.font-style-list li {
    float: left;
    height: 55px;
    list-style: none;
    margin-left: 3px;
    padding: 4px 4px;
    width: 24%;
}

.font-style-list li img{
    width:100%;
}

.font-style-list li {
    transition: all ease .2s;
}

.font-style-list li.active, .font-style-list li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.promo-add-ons .icheckbox_square-green {
    bottom: 5px;
    /*border: 1px solid #087C77;*/
}

.promo-add-ons .icheckbox_square-green.checked {
    border: 0px;
}

#dv-10-free-keychains.promo-add-ons {
	margin-top: 30px;
}

#dv-10-free-keychains .box-thumb, .message_wristband_100 .box-thumb {
	background: #FFFFFF;
	padding: 0px;
}

.message_wristband_100 .row-title {
	background: #FFFFFF;
    color: #087C77;
	padding-bottom: 25px;
}

.message_wristband_100 .row-title h1 {
	color: #3B5E86;
	font-size: 45px;
	margin: 25px 0;
}

.message_wristband_100 span {
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
}

.message_wristband_100 .fwb-text-header {
	background-color: #05859E;
	color: #FFFFFF;
	height: 100%;
	text-decoration: underline;
}

.message_wristband_100 .fwb-text-hidden-header {
	background-color: #325277;
	color: #ffffff;
	font-weight: bold;
	height: 100%;
	padding: 5px 0;
	text-decoration: underline;
}

.custom-color-list {
    height: 300px;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.custom-color-list li {
    float: left;
    list-style: none;
    margin-left: 3px;
    padding: 4px 4px;
    transition: all ease .2s;
    width: 16%;
}

.custom-color-list li img {
    width:100%;
}

.custom-color-list li.active {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #079ca5;
}

.custom-color-list li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.btn-danger:hover {
    border: 1px solid #D9534F;
    color: #D9534F;
}

.btn-danger:focus, .btn-danger:active {
    background-color: #c9302c!important;
    border: 1px solid #761C19!important;
    color: #FFFFFF!important;
}

.btn-warning:hover {
    border: 1px solid #D9534F;
    color: #d58512;
}

.btn-warning:focus, .btn-warning:active {
    background-color: #ec971f!important;
    border: 1px solid #eea236!important;
    color: #FFFFFF!important;
}

.btn-success:hover {
    border: 1px solid #398439;
    color: #398439;
}

.btn-success:focus {
    background-color: #449d44;
    border: 1px solid #255625;
    color: #FFFFFF;
}

#modalWristbandColor input {
    background: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

#modalWristbandColor h5 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#modalWristbandColor .field-container {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#modalWristbandColor .field-center {
    padding-left: 10px;
    padding-right: 10px;
}

#modalWristbandColor .field-left {
    padding-right: 5px;
}

#modalWristbandColor .field-right {
    padding-left: 5px;
}

#modalWristbandColor .modal-body {
    padding: 15px 15px 10px 15px;
}

.btn {
    outline-color: transparent;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    /*font-size: 100px;
    text-align: right;*/
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.images-clips .col-md-4 {
    margin-bottom: 5px;
}

.btn:hover, .btn:focus {
    background-color: #FFFFFF;
}

.btn-default {
    color: #fff;
    background-color: #079ca5;
    border-color: #ccc;
    padding: 16px 22px;
}

.btn-default:hover, .btn-default:focus {
	background-color: #fff;
	border:1px solid #079ca5;
	color:#079ca5;
}

.btn-order {
    background-color: #17a589;
    color: #fff;
    border: 1px solid #117864;
    padding: 10px;
    border-radius: 3px;
}

.btn-order:hover, .btn-order:focus {
    background-color: #1abc9c;
}

.btn-submit {
    padding: 16px;
    border-radius: 4px;
    color: #fff;
    background: #ffba23;
    border: 1px solid #de9d0f;
}

.btn-submit:hover {
    background: #FFFFFF;
    color: #FFBA23;
    border: 1px solid #ffba23;
}

.btn-submit:focus {
    background: #ff9800;
    color: #fff;
}

.btn-submit.disabled {
    background: #f3f3f3;
    border: 1px solid #ffffff;
    color: #5d6569;
    opacity: 1;
}

/* For the loader */

/*loader*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #05DAC6;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2196f3;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FEFEFE;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: rgba(50, 82, 119, 1.0);
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */



}

.loaded #loader-wrapper .loader-section.done{
 -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

.no-js h1 {
    color: #222222;
}

#price_banner {
    overflow-x: auto;
    margin-bottom: 20px;
}

#price_banner #price_table {
    margin-bottom: 0px;
}

.button-wrapper .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.button-wrapper {
    background: rgba(255,255,255,0);
    /*border: 1px solid #04adb7;*/
    border-radius: 5px;
    color: #04adb7;
    cursor: pointer;
    font-size: 45px;
    margin-right: 15px;
    margin-top: 10px;
    outline: none;
    padding: 5px 16px 5px 10px;
    position: relative;
    height: 70px;
}

.button-wrapper:hover {
    /*background-color: #04adb7;*/
    /*border: 1px solid #fff;*/
    color: #000;
}

.button-wrapper:focus, .button-wrapper:active {
    color: #027880;
}

.button-wrapper .label.items {
    background-color: #ffa500;
    border-radius: 50px;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 6px;
    position: absolute;
    right: 3px;
    top: 8px;
}

.toast.toast-success h3 {
    margin-top: 10px;
}

.btn-cart:hover, .btn-cart:focus {
    color: #008c94;
    text-decoration: underline;
    background-color: transparent;
}

.btn-summary {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.cart-header{
    background-color: #008c94;
    /*border-radius: 5px 5px 0px 0px;*/
    border-radius: 0px;
    color: #fff;
    font-size: 20px;
    padding: 20px 0px;
}

.cart-total{
    background-color: #008c94;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    font-size: 20px;
    padding: 20px 0px;
}

.cart-submit-options {
    padding: 20px 0px;
}

.btn-submit-lg {
    padding: 20px;
}

.cart-title {
    background-color: #000000;
    border-bottom: 2px solid #009688;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding: 25px 0px 20px 0px;
}

.cart-label-number {
    background-color: #EAEAEA;
    border-radius: 50px;
    color: #FFFFFF!important;
    font-size: 10px;
    font-weight: normal;
    right: 5px;
    padding: 3px 5px;
    position: absolute;
    top: 5px;
    z-index: 2;
}

.cartUpdate {
    margin-bottom: 10px;
}

.dropdown-menu {
    background-color: #000;
    border: 1px solid #008c94;
    margin: 0px;
}

#back-to-top {
    border: 10px solid rgba(255,255,255,.15);
    border-bottom: 0px;
}

#back-to-top span {
    font-weight: bold;
    left: 5px;
    position: absolute;
    right: 5px;
    top: -5px;
}
